<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Login | EcoWaste</title>

    <!-- styling -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{css/style.css}" />
  </head>
  <body>
    <section id="login" class="login">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Login</h2>
            <p class="card-text">Silahkan login terlebih dahulu</p>
            <form
              th:action="@{/login-process}"
              method="POST"
              class="login-form"
            >
              <div
                class="alert alert-danger mb-3"
                th:if="${error}"
                th:text="${error}"
                data-aos="zoom-in"
              ></div>
              <div class="mb-3">
                <div class="form-group">
                  <i class="fas fa-user input-icon"></i>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Username"
                    required
                    autocomplete="off"
                    autofocus
                  />
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                  <i class="fas fa-lock input-icon"></i>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
                    autocomplete="off"
                  />
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Scripts -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script th:src="@{js/script.js}"></script>
  </body>
</html>
